# Generated diagnostic reports
/reports/*.csv
/reports/*.json
!/reports/diagnostic_report_latest_*.json
!/reports/diagnostic_report_latest_*.csv
!/reports/diagnostic_summary_latest_*.csv

# Vagrant test environment files
/test_env/.vagrant/

# PowerShell files
*.ps1xml

# Windows thumbnail cache
Thumbs.db
Desktop.ini

# VS Code
.vscode/
